table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th,
caption {
  border: 1px solid #000;
}

caption {
  border-bottom: none;
  font-family: serif;
  font-size: 32px;
}

.text {
  color: #f90808;
}
