body {
  font-family: Arial;
}

form {
  padding: 20px;
  width: 350px;
  height: 400px;
}

fieldset {
  border-radius: 3%;
}

.input {
  width: 300px;
  height: 25px;
}

.text {
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  max-height: 200px;
  min-height: 25px;
}

button {
  color: #8575ea;
  cursor: pointer;
}

.checkbox {
  cursor: pointer;
}
