* {
  box-sizing: border-box;
}

body {
  min-width: 375px;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-height: 100vh;
}

.header {
  grid-column: 1 / 12 span;
  background-color: #f00;
  min-height: 100px;
}

.aside {
  grid-column: 1 / 2 span;
  background-color: #e2e20d;
}

.main {
  grid-column: 3 / 12 span;
  background-color: #31bb0a;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  gap: 20px;
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.article {
  background-color: #de6e05;
  min-height: 200px;
}

.footer {
  grid-column: 1 / 12 span;
  background-color: #0b2fe2;
  min-height: 250px;
}

@media (width <= 1200px) {
  .container {
    grid-template-columns: repeat(3, 200px);
  }

  .aside {
    grid-column: 1 / 2 span;
    background-color: #e2e20d;
  }
}

@media (width <= 992px) {
  .container {
    grid-template-columns: repeat(2, 200px);
  }
}


@media (width <= 768px) {
  .container {
    grid-template-columns: repeat(2, 200px);
  }

}

@media (width <= 568px) {
  .container {
    grid-template-columns: repeat(1, 200px);
  }
}
