.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.menu__link {
  font-weight: 300;
  font-size: 13px;
  line-height: 130%;
  color: var(--main-color);
  -webkit-transition: color var(--transition-time);
  -o-transition: color var(--transition-time);
  transition: color var(--transition-time);
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--accent-color);
  }
}

