html {
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
li {
  display: inline-block;
  margin: 10px 10px;
}

a {
  color: #000;
}
.telephone {
  margin-top: 10px;
}

.container {
  max-width: 1320px;
  padding: 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #aaaaaa;
  flex-wrap: wrap;
}
