
.article {
  padding-top: 80px;
  padding-bottom: 120px;
}

.article-title-medium {
  font-size: 36px;
}

.article-text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}
.article-text:last-child {
  margin-bottom: 0;
}

.article-mb {
  margin-bottom: 80px;
}
.article-decor-wrapper {
  position: relative;
}

.article-decor-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url("../imgs/decor-icon.svg") no-repeat;
  width: 528px;
  height: 48px;
}

.article-decor-wrapper-1::before {
  left: -350px;
  top: 100px;
}

.article-decor-wrapper-2::before {
  bottom: 136px;
  right: -350px;
}

.article-img,
.article-video {
  width: 100%;
}
.article-list {
  margin-top: 0;
  padding-left: 14px;
}
.article-item:not(:last-child) {
  margin-bottom: 16px;
}
.article-item::marker {
  color: #3596ed;
  font-size: 19px;
}

.article-video {
  margin-bottom: 40px;
}
